::-webkit-scrollbar {
    width: 5px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #0a0a0a23;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.text-custom-primary {
    --primary-color: #1111a8;
    color: var(--primary-color);
}

.bg-header {
    background-color: rgba(240, 240, 240, 0.466);
    backdrop-filter: blur(8%) !important;
    -webkit-backdrop-filter: blur(8px) !important;
    border-bottom: 0.4px solid rgba(204, 204, 204, 0.466);
}

.border-custom-primary {
    --primary-color: #1111a8;
    border-color: var(--primary-color);
}

.app-bar {
    padding: 18px;
    --container-max-width-mobile: 1000px;
    max-width: var(--container-max-width-mobile);
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
}

.app-container {
    background-image: url('/static/background.svg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow: auto;
}